# Homework 2

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### NAME : McClain Thiel
### ID : 3034003600

### Mandatory : Please print the output of each question below your code

## Lists

1.1 Create an empty Python list called 'a' in the cell below.

In [67]:
#your code here
a = []
a

[]

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [1]:
#your code here
a = [x for x in range(1,101) if (x-1)%3 == 0]
a

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100]

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [10]:
#your code here
a2 = []
x=2
while x <= 46:
    a2.append(x)
    x += .5
    
a2

[2,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0,
 10.5,
 11.0,
 11.5,
 12.0,
 12.5,
 13.0,
 13.5,
 14.0,
 14.5,
 15.0,
 15.5,
 16.0,
 16.5,
 17.0,
 17.5,
 18.0,
 18.5,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0,
 21.5,
 22.0,
 22.5,
 23.0,
 23.5,
 24.0,
 24.5,
 25.0,
 25.5,
 26.0,
 26.5,
 27.0,
 27.5,
 28.0,
 28.5,
 29.0,
 29.5,
 30.0,
 30.5,
 31.0,
 31.5,
 32.0,
 32.5,
 33.0,
 33.5,
 34.0,
 34.5,
 35.0,
 35.5,
 36.0,
 36.5,
 37.0,
 37.5,
 38.0,
 38.5,
 39.0,
 39.5,
 40.0,
 40.5,
 41.0,
 41.5,
 42.0,
 42.5,
 43.0,
 43.5,
 44.0,
 44.5,
 45.0,
 45.5,
 46.0]

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.

In [5]:
#your code here
a = [2*x for x in a]
a

[4,
 16,
 28,
 40,
 52,
 64,
 76,
 88,
 100,
 112,
 124,
 136,
 148,
 160,
 172,
 184,
 196,
 208,
 220,
 232,
 244,
 256,
 268,
 280,
 292,
 304,
 316,
 328,
 340,
 352,
 364,
 376,
 388,
 400]

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1 and similarly for the 21st element).

In [23]:
#your code here
num = 0
for x in a:
    if not a[1] or a[20]:
        num += x
num

6868

1.6 Calculate the mean of 'a'.

In [20]:
#your code here
avg = sum(a)/len(a)
avg

202.0

1.7 Delete all elements greater than the mean value from list 'a'

In [31]:
#your code here
a = [x for x in a if x < avg]
a

[4, 16, 28, 40, 52, 64, 76, 88, 100, 112, 124, 136, 148, 160, 172, 184, 196]

## Strings

2.1 Create an empty list called 'b'.

In [68]:
#your code here
b = []

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [30]:
#your code here
s = 'I am so excited about Data-X. It is important to be able to work with data.'
b = s.split(' ')
b

['I',
 'am',
 'so',
 'excited',
 'about',
 'Data-X.',
 'It',
 'is',
 'important',
 'to',
 'be',
 'able',
 'to',
 'work',
 'with',
 'data.']

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [33]:
#your code here
num2 = 0
for x in b:
    num2 += x.count('e')
num2

4

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [48]:
#your code here
b = [x.replace('i','1') for x in b]
b = [x.replace('I','1') for x in b]
b

['1',
 'am',
 'so',
 'exc1ted',
 'about',
 'Data-X.',
 '1t',
 '1s',
 '1mportant',
 'to',
 'be',
 'able',
 'to',
 'work',
 'w1th',
 'data.',
 'Th1s 1s the end of the f1rst HW.']

2.5 Append the string "This is the end of the first HW." to the list 'b'.

In [38]:
#your code here
b.append("This is the end of the first HW.")
b

['I',
 'am',
 'so',
 'excited',
 'about',
 'Data-X.',
 'It',
 'is',
 'important',
 'to',
 'be',
 'able',
 'to',
 'work',
 'with',
 'data.',
 'This is the end of the first HW.']

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [41]:
#your code here
string = ''
for x in b[::-1]:
    string += x[::-1] + ' '
string

'.WH tsrif eht fo dne eht si sihT .atad htiw krow ot elba eb ot tnatropmi si tI .X-ataD tuoba deticxe os ma I '

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', 'Beta', 'Gamma', 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [58]:
#your code here
codes = {
    1001:'Alpha',
    1002:'Beta',
    1003:'Gamma',
    1004:'Delta',
    1005:'Tau'
}
for x in codes:
    codes[x] = codes[x].lower()
    
codes

{1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

3.2 Delete 'alpha' from the dictionary.

In [59]:
#your code here
codes.pop(1001)
codes

{1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.

In [61]:
#your code here
c = {1,3,5,7,9}

4.2 Create another set called 'd' with elements 2, 5, 10, 30.

In [62]:
#your code here
d = {2,5,10,30}

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [65]:
#your code here
e = c.union(d)
e

{1, 2, 3, 5, 7, 9, 10, 30}

4.4 Find the intersection between sets 'c' and 'd'.

In [66]:
#your code here
c.intersection(d)

{5}